.container{
	margin: 0 auto;
}

.rant{
	max-width: 350px;
	float: left;
	width:100%;
	min-height: 500px;
	height:100%;
	font-size: 20px;
	background-color: #EEEEEE;
	border-radius: 10px;
	margin:30px;
	padding: 15px;
	box-shadow:5px 5px 2px black;
	word-wrap: break-word;
}
.rant:hover{
	box-shadow: 10px 10px 7px black;
	transition: all 0.5s ease-in-out;
}

#CardReveal{
	border-radius: 10px;
	margin: 0 auto;
	background-color: grey;
	max-width: 350px;
	width: 100%;
	min-height: 400px;
	height: 100%;
	color: white;
	padding: 15px;
	box-shadow:5px 5px 2px black;
}

#RantPreview{
	font-size: 15px;
	max-width: 650px;
	width: 100%;
	font-size: 20px;
}

#Text{
	min-width: 350px;
	min-height: 200px;
	max-width: 500px;
	width:100%;
	outline: none;
	resize: none;
	overflow: auto;
}

#Timer{
	font-size: 30px;
}

.table,td,tr{
	border:1px solid #dddddd;
	text-align: left;
}

.table{
	position: ;
	bottom:5%;
	right: 40%;
	left: 40%;
	border-collapse: collapse;
	width: 20%;
	margin: 0 auto;
	margin-top:25px;
}

td,tr{
	padding: 15px;
}